
[submodule "thirdparty/Urban_PointCloud_Processing"]
	path = thirdparty/Urban_PointCloud_Processing
	url = https://github.com/Amsterdam-AI-Team/Urban_PointCloud_Processing
[submodule "thirdparty/CloudCompare-PythonPlugin"]
	path = thirdparty/CloudCompare-PythonPlugin
	url = https://github.com/tmontaigu/CloudCompare-PythonPlugin.git
[submodule "thirdparty/vlmaps"]
	path = thirdparty/vlmaps
	url = https://github.com/vlmaps/vlmaps.git
[submodule "thirdparty/Octree-based-Region-Growing"]
	path = thirdparty/Octree-based-Region-Growing
	url = https://github.com/kangjie-ding/Octree-based-Region-Growing.git
[submodule "thirdparty/PointCloudSegmentation"]
	path = thirdparty/PointCloudSegmentation
	url = https://github.com/xiaohulugo/PointCloudSegmentation.git
[submodule "thirdparty/simpaSRG"]
	path = thirdparty/simpaSRG
	url = https://github.com/matu3ba/simpaSRG.git
[submodule "thirdparty/OBRG-Py"]
	path = thirdparty/OBRG-Py
	url = https://github.com/lupeterm/OBRG-Py.git
